﻿<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>Frontend Applicant Test</title>
		<script src="node_modules/angular/angular.js"></script>
		<script src="dist/main.js"></script>
		<script src="dist/graph.js"></script>
		<link rel="stylesheet" type="text/css" href="dist/main.css">
	</head>
	<body>
		 <div ng-controller="mainController">
			<table>
				<tr>
					<td>
						<h1 class="main-heading">Content Report</h1>
						<h2 class="blue-text total-heading">
							Total Channel Count: {{ totalChannels }}
						</h2>
						<h2 class="green-text total-heading">
							Total Devices Count: {{ totalDevices }}
						</h2>
					</td>
					<td class="td-left-padding">
						<select class="dropdown" ng-model="dropdownSelection"
							ng-options="key as key for (key , value) in data">

						<option value="">All</option>
						</select><br>
					</td>
				<tr>
			</table>

			<table>
			<graph 
				city="{{key}}"
				channels="{{outData[key].Channels}}"
				devices="{{outData[key].Devices}}" 
				ng-repeat="key in keysSorted">    
			</graph>
			</table>
		</div>
	</body>
</html>